# Explore all pandas library using tutorial

### Import all necessary libraries

In [2]:
import pandas as pd

### Sum Row wise or column wise in pandas dataframe

In [99]:
df = pd.read_csv('algorithms/FuelConsumption.csv')
df_index = pd.read_csv('algorithms/FuelConsumption.csv', index_col='MODELYEAR')

### Row wise sum() in dataframe

In [24]:
df.sum(axis=0)
df.sum(axis='index')
df_index.sum(axis=0)
df_index.sum(axis='index')

MAKE                        ACURAACURAACURAACURAACURAACURAACURAACURAACURAA...
MODEL                       ILXILXILX HYBRIDMDX 4WDRDX AWDRLXTLTL AWDTL AW...
VEHICLECLASS                COMPACTCOMPACTCOMPACTSUV - SMALLSUV - SMALLMID...
ENGINESIZE                                                             3570.5
CYLINDERS                                                                6183
TRANSMISSION                AS5M6AV7AS6AS6AS6AS6AS6M6AS5M6AS5A6A6AM7M6AM7M...
FUELTYPE                    ZZZZZZZZZZZZZZZZZZZZZZZZZZZDZDZZDZZZDZZZZDZDZZ...
FUELCONSUMPTION_CITY                                                  14187.4
FUELCONSUMPTION_HWY                                                   10109.4
FUELCONSUMPTION_COMB                                                  12356.8
FUELCONSUMPTION_COMB_MPG                                                28213
CO2EMISSIONS                                                           273396
dtype: object

### Columns wise sum() in dataframe

In [27]:
df.sum(axis=1)
df.sum(axis='columns')
df_index.sum(axis=1)
df_index.sum(axis='columns')

Output=None

### Select Single Columns in Data Frame

In [39]:
df.MAKE
df.MODELYEAR
df['MAKE']
df['MODELYEAR'].head()

0    2014
1    2014
2    2014
3    2014
4    2014
Name: MODELYEAR, dtype: int64

### Select Two or More Columns from DataFrame

In [41]:
df[['MAKE','MODELYEAR']].head()

    MAKE  MODELYEAR
0  ACURA       2014
1  ACURA       2014
2  ACURA       2014
3  ACURA       2014
4  ACURA       2014

### Select Multiple columns in an elegent way

In [47]:
select = ['MAKE','MODELYEAR']
df[select].head()

    MAKE  MODELYEAR
0  ACURA       2014
1  ACURA       2014
2  ACURA       2014
3  ACURA       2014
4  ACURA       2014

### Add new columns in DataFrame

In [60]:
df['SUMOFCOL']=df.sum(axis=1)

# it is possible to add new column in a specific position
# using following: df.insert(loc,column='column_name',value='column_value')

# df.insert(2, column='MODELNAME', value=df.MODELYEAR)
df.head()

,MODELYEAR,MAKE,MODELNAME,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,SUMOFCOL
0,2014,ACURA,2014,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196,34825.0
1,2014,ACURA,2014,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221,35073.0
2,2014,ACURA,2014,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136,34296.0
3,2014,ACURA,2014,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255,35448.0
4,2014,ACURA,2014,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244,35343.0

### Broadcasting Operations


#### add value or some operation in a specific columns

In [80]:

df['SUMOFCOL'].add(15)
df['SUMOFCOL']+15
df['SUMOFCOL'] = df['SUMOFCOL'].add(15)
df['SUMOFCOL'].head()

0    34885.0
1    35133.0
2    34356.0
3    35508.0
4    35403.0
Name: SUMOFCOL, dtype: float64

#### Subtract or minus operation in a specific columns

In [78]:
df['SUMOFCOL'].sub(15)
df['SUMOFCOL']-15
df['SUMOFCOL'] = df['SUMOFCOL'].sub(15)
df['SUMOFCOL'].head()

0    34855.0
1    35103.0
2    34326.0
3    35478.0
4    35373.0
Name: SUMOFCOL, dtype: float64

#### Multiplication operation in a specific columns

In [81]:
df['SUMOFCOL'].mul(0.4)
df['SUMOFCOL'] = df['SUMOFCOL'].mul(0.4)
df['SUMOFCOL'].head()

0    13954.0
1    14053.2
2    13742.4
3    14203.2
4    14161.2
Name: SUMOFCOL, dtype: float64

In [ ]:
.mul(0.4)

#### Division operation in a specific columns

In [85]:
df['SUMOFCOL'].div(0.4)
df['SUMOFCOL'] = df['SUMOFCOL'].div(0.4)
df['SUMOFCOL'].head()

0    545078.125
1    548953.125
2    536812.500
3    554812.500
4    553171.875
Name: SUMOFCOL, dtype: float64

### Value Count in Pandas DataFrame

In [92]:
df['MAKE'].value_counts()
df['MODELYEAR'].value_counts()
df['MODELNAME'].value_counts()
df['MODEL'].value_counts().tail()

SANTA FE SPORT         1
Q7 TDI CLEAN DIESEL    1
CHALLENGER SRT         1
RAV4                   1
TITAN 4WD              1
Name: MODEL, dtype: int64

### Drop Column or Rows if Contains NaN Value

In [109]:
df.dropna(axis=0,how="all",subset=['MAKE','MODEL'],inplace=True)
df.shape

(1067, 13)

### Fill the value if not available using _fillna()_

In [112]:
df.fillna(0,inplace=True)

### Convert columns data type to another data types using _astype()_

In [127]:
df['CYLINDERS'] = df['CYLINDERS'].astype("float")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1067 entries, 0 to 1066
Data columns (total 13 columns):
MODELYEAR                   1067 non-null int64
MAKE                        1067 non-null object
MODEL                       1067 non-null object
VEHICLECLASS                1067 non-null object
ENGINESIZE                  1067 non-null float64
CYLINDERS                   1067 non-null float64
TRANSMISSION                1067 non-null object
FUELTYPE                    1067 non-null object
FUELCONSUMPTION_CITY        1067 non-null float64
FUELCONSUMPTION_HWY         1067 non-null float64
FUELCONSUMPTION_COMB        1067 non-null float64
FUELCONSUMPTION_COMB_MPG    1067 non-null int64
CO2EMISSIONS                1067 non-null int64
dtypes: float64(5), int64(3), object(5)
memory usage: 116.7+ KB

In [139]:
df['MODELYEAR'].astype('category')
Output=None

### Sorting data using sort_values()

In [148]:
df.sort_values('MODEL',ascending=False)
df.sort_values('ENGINESIZE',ascending=True)
df.sort_values('MODEL',ascending=False,inplace=True)
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
937,2014,SCION,xD,SUBCOMPACT,1.8,4.0,M5,X,8.6,7.1,7.9,36,182
936,2014,SCION,xD,SUBCOMPACT,1.8,4.0,A4,X,8.8,7.1,8.0,35,184
934,2014,SCION,xB,STATION WAGON - SMALL,2.4,4.0,AS4,X,10.9,8.6,9.9,29,228
935,2014,SCION,xB,STATION WAGON - SMALL,2.4,4.0,M5,X,10.9,8.6,9.9,29,228
932,2014,SCION,tC,COMPACT,2.5,4.0,AS6,X,10.2,7.5,9.0,31,207

### Sorting multiple columns using  sort_values()

In [158]:
df.sort_values(['MODEL','ENGINESIZE'],ascending=['False','False'],inplace=True)
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
910,2014,RAM,1500 (MDS),PICKUP TRUCK - STANDARD,5.7,8.0,A8,X,15.8,10.9,13.6,21,313
909,2014,RAM,1500 (MDS),PICKUP TRUCK - STANDARD,5.7,8.0,A6,X,17.1,12.0,14.8,19,340
912,2014,RAM,1500 4X4 (MDS),PICKUP TRUCK - STANDARD,5.7,8.0,A8,X,16.3,11.5,14.1,20,324
911,2014,RAM,1500 4X4 (MDS),PICKUP TRUCK - STANDARD,5.7,8.0,A6,X,17.6,12.7,15.4,18,354
913,2014,RAM,1500 4X4 DIESEL,PICKUP TRUCK - STANDARD,3.0,6.0,A8,D,12.1,8.8,10.6,27,286

### Reset or sort index using sort_index()

In [161]:
df.sort_index(ascending=True, inplace=True)
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4.0,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6.0,AS6,Z,12.1,8.7,10.6,27,244