In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
df = pd.read_csv('/opt/datascience/course/DataVisualizationWithPython/lab/Topic_Survey_Assignment.csv')
total = df.sum(axis=1).sum()
df

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74

In [24]:
df['Very interested']= np.round((df['Very interested']/total)*100,decimals=2)
df['Somewhat interested']= np.round((df['Somewhat interested']/total)*100,decimals=2)
df['Not interested']= np.round((df['Not interested']/total)*100,decimals=2)
df.sort_values('Very interested')

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),10.23,5.60,0.98
1,Data Analysis / Statistics,12.96,3.41,0.46
2,Data Journalism,3.29,8.30,4.68
3,Data Visualization,10.29,5.64,0.78
4,Deep Learning,9.70,5.91,1.04
5,Machine Learning,12.51,3.66,0.57